<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/designblock.css"> 
	<link rel="icon" type="image/svg+xml" href="https://spring.io/favicon.svg" />
	<meta charset="UTF-8">
	<title>Hospital</title>
</head>	
<body>
	<h2>Listado de pacientes</h2>
	<table border="1px">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>Apellidos</th>
				<th>Fch. Alta</th>
			</tr>
		</thead>
		<tdoby th:each="paci:${pacientes}">
			<tr key="${paci.id}">
				<td><a th:href="@{|/consultaPaciente/${paci.id}|}" style="display:inline">
				<span th:text="${paci.id}"></span></a>
				</td>
				<td><span th:text="${paci.nombre}"></span></td>
				<td><span th:text="${paci.apellidos}"></span></td>
				<td><span th:text="${#dates.format(paci.fecha_alta,'yyyy-MM-dd')}"></span></td>
			</tr>
		</tdoby>
	</table>
<div class="linea"></div>	
<p><a href="index.html">Menu Principal</a></p>	
</body>
<footer>
  <div class="linea"></div>	
  <p width="5em" height="5em">Development: Spring MVC
	<a href="https://spring.io/" target="_blank">
     <img src="https://spring.io/favicon.svg" height="20em" padding="0.5em" alt="Spring logo"/>
  	</a>
  </p>
</footer>
</html>